/* IMPORT VAR LESS FILE */
/* DEFINE VARS */
/* IMPORT GLOBAL LESS FILES */
/* IMPORT VAR LESS FILE */
/* DEFINE VARIATION CSS */
.product-tile__price--new {
  color: black;
}
.util-icon {
  margin-left: 2rem;
}
.kk-wish-list-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 1rem;
  max-width: 800px;
  overflow-x: hidden;
}
@media (max-width: 640px) {
  .kk-wish-list-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}
.kk-wish-list-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  width: 50%;
  position: relative;
}
.kk-wish-list-item-container .kk-wish-list-img img {
  min-width: 170px;
  height: 250px;
}
.kk-wish-list-item-container .kk-wish-list-img span::before {
  position: absolute;
  left: 8.8rem;
  color: #000;
  font-weight: 400 !important;
  content: "\e9ba" !important;
  font-size: 1.4375rem;
  padding: 0;
  font-family: iconfont;
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.kk-wish-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  margin: 0.5rem 0.3rem;
}
.kk-wish-list-info p {
  font-family: CA Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  padding-top: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.kk-wish-list-info p b {
  margin-top: 1rem;
  padding-top: 0;
}
.kk-wish-list-info select {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  width: 150px !important;
  height: 30px !important;
  padding: 2px;
  -webkit-appearance: checkbox;
  text-align: center;
  cursor: pointer;
}
.kk-wish-list-info .kk-btn button {
  min-width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 2px;
  font-weight: bold;
  max-height: 30px;
}
.container {
  margin-bottom: 2rem;
}
.container .kk-link-to-wishlist {
  margin-top: 2rem;
}
